* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1230px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 50px 0;
}

h2 {
    font-size: 32px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header a {
    color: white;
    font-weight: 600;
}

.logo img {
    max-width: 80%;
}

nav ul {
    display: flex;
    gap: 1.4em;
}

.personal_account {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

header,
footer {
    background-color: #302D2D;
    width: 100%;
}

.footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
    gap: 60px;
}

.footer__wrapper span {
    display: block;
    margin-top: 10px;
    color: white;
}

.social_media {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.social_media img {
    max-width: 60%;
}

.general_link {
    font-weight: 700;
    color: white;
    background-color: #302D2D;
    padding: 10px 50px;
    border: 1px solid transparent;
    border-radius: 82px;
    letter-spacing: 2px;
    max-width: fit-content;
}

.line {
    background: black;
    max-width: 1230px;
    height: 1px;
    margin: 0 auto;
    margin: 120px 0;
}